.Header {
    background: #af0000;
    color: white;
    display: flex;
    padding: 10px;
    
    nav {
        position: absolute;
        right: 0;
        li {
            display: inline;
            margin:10px;
    
            a {
                color: white;
                font-size: 24px;
                
                text-decoration: none; // Removing underline for anchors tag
            }
        }
    }
}

section {
    padding: 20px 30px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h2 {
        text-align: center;
    }

    form {
        width: 400px;
        margin: 0 auto;
        input, button, textarea, select {
            display: block;
            width: 422px;
            height: 40px;
            padding: 0;
            font-size: 20px;
            margin-bottom: 20px;
        }

        textarea {
            height: 200px;
        }

        label {
            font-size: 20px;
        }

        .deleteButton {
            background: pink;
            border-color: white;
        }
    }

    
}


article {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px auto; // centering an aritlce 
    padding: 10px;
    width: 400px;

    .reactionButton {
        background: none;
        border: none;
    }

    a {
        color: black;
    }
}